
<div class="container-fluid">
  <h1 class="col-12"> Material </h1>
  <div class="row">
    <h3 class="col-12">Formulaire : </h3>
    <form  [formGroup]="myForm" class="col-6 mx-auto"><br/><br/>
      <input type="text" formControlName="input"><br/><br/>
      <input type="checkbox" formControlName="checkbox"><br/><br/>

      <input type="radio" formControlName="radio" value="Femme">Femme<br/>
      <input type="radio" formControlName="radio" value="Homme">Homme<br/><br/>

      <input type="radio" formControlName="slidetoggle" value="Femme">Femme<br/>
      <input type="radio" formControlName="slidetoggle" value="Homme">Homme<br/><br/>

      <pre>{{form.value | json}}</pre>
    </form>
  </div>
</div>